body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.main-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.algorithm-container {
  background: #efecec;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  width: 600px;
}

.algorithm-selector label {
  margin-right: 15px;
}

.process-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.process-row input {
  flex: 1;
}

.add-process-btn,
.run-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 600;
}

.add-process-btn:hover,
.run-btn:hover {
  background-color: #0056b3;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center; /* Centraliza o texto verticalmente */
  position: fixed; /* Fixa o footer no fim da tela */
  bottom: 10px; /* Coloca o footer no final da tela */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta para manter o footer no centro */
  width: 30%; /* Define a largura do footer */
  background-color: #0056b3; /* Cor de fundo */
  border-radius: 25px; /* Arredonda os cantos */
  padding: 10px; /* Espaçamento interno */
  color: white; /* Define a cor do texto */
  font-family: Arial, sans-serif; /* Fonte legível */
  z-index: 1000; /* Garante que o footer esteja acima de outros elementos */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

a{
  text-decoration: none;
  color: inherit;
}


  
